

body{
    background-color: rgb(6, 32, 32);
}

.clock{
    margin-top: 300px;
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


